* {
    box-sizing: border-box;
}

div{

    width: 100px;
    height: 100px;
    position: absolute;
    background-color:#c3c364;
    border-radius: 50%;
    text-align: center;
    margin-top: 50px;
}

.bigBall{
    width: 150px;
    height: 150px;

}